
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
  <title><%= title %></title>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main class="login-page">
      <div>
        <% if (errorMessage) { %>
        <div>
          <div>
            <div class="error-message">
              <h3 class="error-title">THERE WAS AN ERROR LOGGING IN</h3>
              <div>
                <ul class="error-list" role="list">
                  <li><%= errorMessage %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div class="login-div">
          <div>
          <h2>Log in to your account</h2>
          <p>
            Or
            <a href="/auth/sign-up"> Sign up now </a>
          </p>
          </div>

          <div>
            <form action="/auth/login" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

              <div class="mb-3">
                <label class="form-label" for="email"> Email address </label>
                <div>
                  <input
                  class="form-control"
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    required
                  />
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="password"> Password </label>
                <div >
                  <input
                  class="form-control"
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    required
                  />
                </div>
              </div>

              <!-- <div> -->
                <button class="btn btn-primary mb-3" type="submit">Login</button>
              <!-- </div> -->
              <div>
                <div class="text-sm">
                  <a href="/auth/reset"> Forgot your password? </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </main>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
