    <%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main class="login-page">
      <div>
        <% if (errorMessage) { %>
        <div>
          <div>
            <div>
              <h3>There was an error logging in</h3>
              <div>
                <ul role="list">
                  <li><%= errorMessage %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div class="sign-up-div">
          <div>
          <h2>Sign in to your account</h2>
          <p>
            Or
            <a href="/auth/sign-up"> sign up now </a>
          </p>
          </div>

          <div>
            <form action="/auth/login" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

              <div>
                <label for="email"> Email address </label>
                <div>
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    required
                  />
                </div>
              </div>

              <div>
                <label for="password"> Password </label>
                <div>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    required
                  />
                </div>
              </div>

              <div>
                <button type="submit">Sign in</button>
              </div>
              <div>
                <div class="text-sm">
                  <a href="/reset"> Forgot your password? </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </main>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
