<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <title><%= title %></title>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    
    <div class="container form-cont">
      
        <% if (successMessage) { %>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div>
              <h3>Success</h3>
              <div>
                <p><%= successMessage %></p>
              </div>
            </div>
          </div>
        </div>
        <% } %> <% if (errorMessage) { %>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div>
              <h3>There was an error logging in</h3>
              <div>
                <ul role="list">
                  <li><%= errorMessage %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div class="row">
          <div  class="col-md-6 offset-md-3">
          <h2>Sign in to your account</h2>
          <p>
            Or
            <a href="/sign-up"> sign up now </a>
          </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form action="/login" method="POST" class="login-frm ">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

              <div class="gx-5">
                <label for="email" class="form-label"> Email address </label>
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class="form-control"
                  required
                />
              </div>

              <div class="gx-5">
                <label for="password" class="form-label"> Password </label>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    class="form-control"
                    required
                  />
              </div>

              <div class="btn-cont gx-5">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
              <div class="btn-cont">
                <div class="text-sm">
                  <a href="/reset"> Forgot your password? </a>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
