  <%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main class="reset-page">
      <div>
        <% if (errorMessage) { %>
        <div>
          <div>
            <div class="error-message">
              <h3 class="error-title">There was an error in reseting your password</h3>
              <div>
                <ul class="error-list" role="list">
                  <li><%= errorMessage %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div>
          <div>
            <form action="/auth/reset" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

              <div class="mb-3">
                <label class="form-label"  for="email"> Email address </label>
                <div>
                  <input
                  class="form-control"
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    required
                  />
                </div>
              </div>
              <div>
                <button class="btn btn-primary" type="submit">Send Email</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>