<%- include('./includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main>
      <div>
        <% if (successMessage) { %>
        <div>
          <div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div>
              <h3>Success</h3>
              <div>
                <p><%= successMessage %></p>
              </div>
            </div>
          </div>
        </div>
        <% } %> <% if (errorMessage) { %>
        <div>
          <div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div>
              <h3>There was an error in reseting your password</h3>
              <div>
                <ul role="list">
                  <li><%= errorMessage %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div>
          <div>
            <form action="/reset" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

              <div>
                <label for="email"> Email address </label>
                <div>
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    required
                  />
                </div>
              </div>
              <div>
                <button type="submit">Send Email</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>