  <%- include('../includes/head.ejs') %> 
  <title><%= title %></title>

  </head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main class="signup-page">
      <div>
        <% if (errorMessage) { %>
        <div>
          <div>
            <div>
              <h3>There was an error in sign-up</h3>
              <div>
                <ul role="list">
                  <li><%= errorMessage %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div>
          <h2>Sign up</h2>
          <p>
            Or
            <a href="/auth/login"> Already have an account?</a>
          </p>
        </div>

        <div>
          <div>
            <form action="/auth/sign-up" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

              <div>
                <label for="name"> Name </label>
                <div>
                  <input
                    id="name"
                    name="name"
                    type="name"
                    autocomplete="name"
                    required
                  />
                </div>
              </div>

              <div>
                <label for="email"> Email address </label>
                <div>
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    required
                  />
                </div>
              </div>

              <div>
                <label for="password"> Password </label>
                <div>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    required
                  />
                </div>
              </div>

              <div>
                <label for="confirmPassword"> Confirm Password </label>
                <div>
                  <input
                    id="confirmPassword"
                    name="confirmPassword"
                    type="password"
                    autocomplete="confirmPassword"
                    required
                  />
                </div>
              </div>

              <div>
                <button type="submit">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
