<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title><%= title %></title>
    <%- include('./includes/head.ejs') %>
    
  </head>

  <body>
    <%- include('./includes/nav.ejs') %>
    <div class="container">
      
      <div class="row">
        <h2>
          <%= title %>
        </h2>
      </div>
      <div class="row">
        
        <p>I am so excited <span class="whoop">WHOOP</span> your score today!</p>
        <p>Join a game today :) Enter your Invitation Token Below</p>
        <form>
          <div class="mb-3">
            <label for="game-token" class="form-label">Invitation Token</label>
            <input required  type="text" name="name"  id="name"  class="form-control" />
          </div>
          <button  type="submit" class="btn btn-success">
            Submit Token
          </button>
        </form>
      </div>
      <div class="row">
        <%- include('./includes/footer.ejs') %>
      </div>
        
        
      </div>
      

    