<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title><%= title %></title>

    <%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>

    <main>
      <div>
        <% if (games.length > 0) { %>
        <p class="text-center text-gray-600 mt-2">
          Click a game to edit or delete.
        </p>
        <% } %>
      </div>

      <ul>
        <% for (let game of games) { %>
        <li>
          <%= game.title %>

          <span> <%= game.description %> </span>
          <span> <%= game.status %> </span>
        </li>
        <% } %>
      </ul>

      <a href="/game/add"> Create a new game </a>
    </main>

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
