    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
  </head>

  <body>
    <%- include ("../includes/nav.ejs") %>

    <main class="edit-all-games">
      <div>
        <h1><%= title %></h1>

        <% if (errorMessage) { %>
        <div>
          <div>
            <div class="error-message">
              <h3 class="error-title">There was an error:</h3>
              <div>
                <ul class="error-list" role="list">
                  <li><%= errorMessage %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <form
          method="POST"
          action="/game/<% if (editing) { %>edit<% } else { %>add<% } %>"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <!-- <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3"> -->
            <div class="mb-3">
              <label
                for="title"
                class="form-label"
              >
                Name
              </label>
              <div>
                <input
                class="form-control"
                  required
                  type="text"
                  name="name"
                  id="name"
                  value="<% if
                  (editing || hasError) { %><%= game.name %><% } %>"
                />
              </div>
            </div>

            <div>
              <label class="form-label" for="description"> Description </label>
              <div class="mb-3">
                <textarea class="form-control" required id="description" name="description" rows="3">
<% if (editing || hasError) { %><%= game.description %><% } %></textarea
                >
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="status"> Status </label>
              <div class="mt-1">
                <input
                class="form-control"
                  required
                  name="status"
                  id="status"
                  type="text"
                  value="<% if (editing || hasError) { %><%= game.status %><% } %>"
                />
              </div>
            </div>

            <% if (editing) { %>
            <input type="hidden" name="gameId" value="<%= game._id %>" />
            <% } %>

            <div class="mb-3">
              <button class="btn btn-primary" type="submit">
                <% if (editing) { %>Update<% } else { %>Add<% } %> Game
              </button>
            </div>
          <!-- </div> -->
        </form>

        <% if (editing) { %>
        <form action="/game/delete" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="gameId" value="<%= game._id %>" />

          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        <% } %>
      </div>
    </main>
  </body>
</html>
