<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include ("../includes/nav.ejs") %>

    <main>
      <div>
        <h1><%= title %></h1>

        <% if (errorMessage) { %>
        <div>
          <div>
            <div>
              <h3>There was an error:</h3>
              <div>
                <ul role="list">
                  <li><%= errorMessage %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <form
          method="POST"
          action="/game/<% if (editing) { %>edit<% } else { %>add<% } %>"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">
            <div class="sm:col-span-3">
              <label
                for="title"
                class="block text-sm font-medium text-gray-700"
              >
                Name
              </label>
              <div>
                <input
                  required
                  type="text"
                  name="name"
                  id="name"
                  value="<% if
                  (editing || hasError) { %><%= game.name %><% } %>"
                />
              </div>
            </div>

            <div>
              <label for="description"> Description </label>
              <div>
                <textarea required id="description" name="description" rows="3">
<% if (editing || hasError) { %><%= game.description %><% } %></textarea
                >
              </div>
            </div>

            <div>
              <label for="status"> Status </label>
              <div class="mt-1">
                <input
                  required
                  name="status"
                  id="status"
                  type="text"
                  value="<% if (editing || hasError) { %><%= game.status %><% } %>"
                />
              </div>
            </div>

            <% if (editing) { %>
            <input type="hidden" name="gameId" value="<%= game._id %>" />
            <% } %>

            <div>
              <button type="submit">
                <% if (editing) { %>Update<% } else { %>Add<% } %> Game
              </button>
            </div>
          </div>
        </form>

        <% if (editing) { %>
        <form action="/game/delete" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="gameId" value="<%= game._id %>" />

          <button type="submit">Delete</button>
        </form>
        <% } %>
      </div>
    </main>
  </body>
</html>
