<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title><%= title %></title>
    <%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include ("../includes/nav.ejs") %>

    <div class="container">
      <div class="row">
        <h1><%= title %></h1>

        <form
          method="POST"
          action="/game/<% if (editing) { %>edit<% } else { %>add<% } %>"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">
            <div class="mb-3">
              <label
                for="title"
                class="form-label"
              >
                Name
              </label>
              <div>
                <input
                  required
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  value="<% if
                  (editing || hasError) { %><%= game.name %><% } %>"
                />
              </div>
            </div>

            <div class="mb-3">
              <label for="description" clas="form-label"> Description </label>
              
                <textarea required id="description" name="description" rows="3" class="form-control">
                        <% if (editing || hasError) { %><%= game.description %><% } %></textarea
                >
              
            </div>

            <div class="mb-3">
              <label for="status" class="form-label"> Status </label>
              <div class="mt-1">
                <input
                  required
                  name="status"
                  id="status"
                  class="form-control"
                  type="text"
                  value="<% if (editing || hasError) { %><%= game.status %><% } %>"
                />
              </div>
            </div>

            <% if (editing) { %>
            <input type="hidden" name="gameId" value="<%= game._id %>" />
            <% } %>

            <div>
              <button  type="submit" class="btn btn-primary">
                <% if (editing) { %>Update<% } else { %>Add<% } %> Game
              </button>
            </div>
          </div>
        </form>

        <% if (editing) { %>
        <form action="/game/delete" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="gameId" value="<%= game._id %>" />

          <button  type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </main>
  </body>
</html>
