<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title><%= title %></title>

    <%- include('../includes/head.ejs') %>
    <script src="https://kit.fontawesome.com/a3ae3acd00.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/score.css" />
      <script>
         const game_list = '<%- JSON.stringify(games) %>';  
         const user = '<%- JSON.stringify(user) %>';         
      </script>
 
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    <div id="app">
     
    </div>
    

    <%- include('../includes/footer.ejs') %>
    
    <script>
         //games;
    </script>
    <script type="module" src="/js/score.js"></script>
  </body>
</html>
